.list-view {
  padding: 0 20px;
  .MuiTableContainer-root {
    .MuiTableHead-root {
      .MuiTableCell-root {
        font-weight: 700;
      }
      .MuiTableCell-root:first-child {
        //text-align: center !important;
        padding-left: 15px;
      }
    }
    .MuiTableCell-alignRight {
      text-align: unset !important;
      flex-direction: unset !important;
    }
  }
}

