.MuiDrawer-paper {
  background: #05082f !important;
  .app-logo {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 4;
    text-align: center;
    font-size: 19px;
    letter-spacing: 3px;
  }
  .divider {
    border: 1px solid #fffdfd;
  }
  .nav-link {
    color: #FFFFFF;
    &:hover {
      background: #FFFFFF;
      color: #000;
    }
    &:active{
      background: lightblue;
      color: #000;
    }
  }
  .active{
    background: white;
    color: #000;
  }
}